# detect wheather the new is real or fake

In [10]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import accuracy_score, classification_report
from IPython.display import display

In [9]:
# load the dataset
df = pd.read_csv("assets/news.csv")

print('sample data:')
display(df.sample(5))

print('data shape:')
display(df.shape)

print('data description:')
display(df.describe())

sample data:

,title,news_url,source_domain,tweet_num,real
3063,J.J. Watt's Hurricane Harvey relief fund close...,https://www.usatoday.com/story/sports/nfl/texa...,www.usatoday.com,12,1
3050,Niall Horan and Liam Payne Have One Direction ...,https://www.9news.com/article/entertainment/en...,www.9news.com,72,1
3880,The Real Housewives of New Jersey Are as Tough...,http://www.bravotv.com/the-daily-dish/the-real...,www.bravotv.com,64,1
4048,Megan Keeps Having Terrible Flashbacks to Her ...,https://www.longroom.com/discussion/918151/meg...,www.longroom.com,15,1
4067,Donald Trump blasts Kathy Griffin for beheadin...,ew.com/news/2017/05/31/donald-trump-blasts-kat...,ew.com,29,0

data shape:

(4622, 5)

data description:

          tweet_num         real
count   4622.000000  4622.000000
mean      95.208784     0.754219
std      581.108004     0.430596
min        0.000000     0.000000
25%       11.000000     1.000000
50%       38.000000     1.000000
75%       66.000000     1.000000
max    27377.000000     1.000000

In [12]:
# data preparation
x = df['title']
y = df['real']

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

# initialize the tfidfvectorizer to convert text into numeric features
vectorizer = TfidfVectorizer(stop_words='english', max_df=0.7)
x_train_tfidf = vectorizer.fit_transform(x_train)
x_test_tfidf = vectorizer.transform(x_test)

In [16]:
# train the multinomial naive bayes model
model = MultinomialNB()

history = model.fit(x_train_tfidf, y_train)

y_pred = model.predict(x_test_tfidf)

print('accuracy:', accuracy_score(y_test, y_pred))
print('classification report:', classification_report(y_test, y_pred, zero_division=1))

accuracy: 0.8054054054054054
classification report:               precision    recall  f1-score   support

           0       0.84      0.22      0.34       218
           1       0.80      0.99      0.89       707

    accuracy                           0.81       925
   macro avg       0.82      0.60      0.61       925
weighted avg       0.81      0.81      0.76       925